<!DOCTYPE html>
<html lang="fr">

<% include head %>

  <body>

<% include navbar %>

    <!-- About Citizen Seeds -->
    <section id="aboutcitizenseeds-wrp" class="wrapper full-height2">
      <div class="container vertical-align-wrp">
	<div class="vertical-align-content">

	  <div class="full-width intro">
            <p>À propos</p>
            <h1>CitizenSeeds 2016</h1>
            <p>Cultivez des légumes et gagnez un appareil photo&nbsp;!</p>
            <p>Comment&nbsp;?</p>
            <p>Nous vous enverrons une collection de graines bio. Vous
              plantez les graines dans une parcelle de ±1m²
              et vous essayez d'obtenir la plus belle récolte.  A la
              fin de la saison nous offrirons trois prix&nbsp;: pour la
              récolte la plus impressionante, pour la meilleure
              documentation et pour la meilleure approche
              agro-écologique.</p>
            <p>La participation est ouverte aux particuliers mais
            aussi aux association et notamment aux jardins
            partagés.</p>
            <p><a onclick="smoothScr.anim('table-wrp')">Lire les détails.</a></p>
	  </div>

	  <!-- <div class="one-half left">
            <a class="btn" onclick="smoothScr.anim('register-wrp')"><b>Enregistrez vous&nbsp;!</b></a>
	  </div> -->

	</div>
      </div>
    </section> 
    <!-- About Citizen Seeds End -->


    <!-- Table -->
    <section id="table-wrp" class="wrapper" style="margin-top: 20px">

      <div class="container clearfix">

        <div class="row about-row">
          <div class="col-xs-12 col-md-6 about-img" style="">
            <img src="media/seeds2_bgd.jpg" >
	  </div>
          <div class="col-xs-12 col-md-6 about-text">
            <h2 class="textlet">Graines</h2>
            <p class="textlet">Nous vous envoyons des graines de 10 variétés de légumes. Libre à vous de les cultiver comme bon vous semble. (<a href="https://p2pfoodlab.net/wiki/index.php/CitizenSeeds_%2716#Graines">en savoir plus</a>)</p>
	  </div>
        </div>

        <div class="row about-row">
          <div class="col-xs-12 col-md-6 about-img" style="">
            <img src="media/greenhouse_bgd.jpg" >
	  </div>
          <div class="col-xs-12 col-md-6 about-text" style="">
            <h2 class="textlet">Parcelle</h2>
            <p class="textlet">Vous pouvez planter les graines où vous 
              voulez : en pleine terre dans le jardin, dans les bacs sur la terasse ou
                dans des pots sur le balcon... La seule contrainte est que la 
              superficie totale ne doit pas dépasser 1.5m². (<a href="https://p2pfoodlab.net/wiki/index.php/CitizenSeeds_%2716#Surface_de_culture">plus</a>)</p>
	  </div>
        </div>

        <div class="row about-row">
          <div class="col-xs-12 col-md-6 about-img" style="">
            <img src="media/compost.jpg" >
	  </div>
          <div class="col-xs-12 col-md-6 about-text" style="">
            <h2 class="textlet">Le potager "Zéro Entrants"</h2>
            <p class="textlet">Tous les participants doivent utiliser 
                des méthodes biologiques (pas de produits chimiques - engrais chimiques,
 pesticides, herbicides, ...).</p>
	      <p class="textlet">Nous récompenserons le plus beau exemple de ce 
                que nous appelons "le potager zéro entrants" : des techniques de 
                cultures qui ne demandent aucun entrant autre que la lumière du soleil, 
                l'eau de pluie et de l'amour. (<a href="https://p2pfoodlab.net/wiki/index.php/CitizenSeeds_%2716#Cultiver_les_l.C3.A9gumes">plus</a>)</p>
	  </div>
        </div>
        
        <div class="row about-row">
          <div class="col-xs-12 col-md-6 about-img" style="">
            <img src="media/tablet_bgd.jpg" >
	  </div>
          <div class="col-xs-12 col-md-6 about-text" style="">
            <h2 class="textlet">Documentez votre jardin</h2>
            <p class="textlet">Prenez une photo par semaine et partagez-la sur le site de CitizenSeeds. </p>
            <p class="textlet">Vous pouvez aussi utiliser tout autre 
              service en ligne pour documenter vos expériences : Facebook, YouTube, 
                ... Nous pouvons aussi fournir un accès à notre Wiki. Le participant 
              avec la meilleure documentation recevra un prix pour son effort. (<a href="https://p2pfoodlab.net/wiki/index.php/CitizenSeeds_%2716#Documenter_vos_activit.C3.A9s">plus</a>)</p>
	  </div>
        </div>

        <div class="row about-row">
          <div class="col-xs-12 col-md-6 about-img" style="">
            <img src="media/harvest_bgd.jpg" >
	  </div>
          <div class="col-xs-12 col-md-6 about-text" style="">
            <h2 class="textlet">Récolte</h2>
            <p class="textlet">Pesez et photographiez vos 
              récoltes&nbsp;! Cela nous permettra de mieux évaluer combien on peut 
              produire sur des petites surfaces. En plus, vos légumes auront 
              l'admiration des tous et gagnera peut-être le prix pour la plus belle 
              récolte&nbsp;! (<a href="https://p2pfoodlab.net/wiki/index.php/CitizenSeeds_%2716#Vos_r.C3.A9coltes">plus</a>)</p>
	  </div>
        </div>

        <div class="row about-row">
          <div class="col-xs-12 col-md-6 about-img" style="">
            <img src="media/weather_bgd.jpg" >
	  </div>
          <div class="col-xs-12 col-md-6 about-text" style="">
            <h2 class="textlet">Enregister les conditions climatiques</h2>
            <p class="textlet">Vous pouvez utiliser le Flower Power de 
              Parrot pour mesurer la météo (température, ensoleillement, humidité du 
              sol). Ces données peuvent etre intégrées dans le site de CitizenSeeds à 
              côté de vos photos. Si vous avez un téléphone/tablette compatible avec 
              Bluetooth LE/4.0, nous pouvons vous fournir le Flower Power. (<a href="https://p2pfoodlab.net/wiki/index.php/CitizenSeeds_%2716#Enregistrer_les_donn.C3.A9es_climatiques">plus</a>)</p>
	  </div>
        </div>

        <div class="row about-row">
          <div class="col-xs-12 col-md-6 about-img" style="">
            <img src="media/camera.jpg" >
	  </div>
          <div class="col-xs-12 col-md-6 about-text">
            <h2 class="textlet">Une récompense</h2>
            <p class="textlet">Bien sûr, vous participez pour le plaisir
              du jardinage. Néanmoins, nous avons mis de côté trois appareils photos 
              (Sony Cybershot DSC HX60V) pour récompenser les plus beaux efforts : 
              pour la récolte la plus jolie, pour la meilleure documentation et pour 
              les meilleures techniques "zéro entrants". (<a href="https://p2pfoodlab.net/wiki/index.php/CitizenSeeds_%2716#Prix">more</a>)</p>
	  </div>
        </div>
      </div>
    </section> 


    <!-- Register -->
    <section id="register-wrp" class="wrapper">
      <div class="container" id="FormHolder">
        <div class="row">

	  <div class="col-xs-12 col-md-8 register-text">
	    <h2>Enregistrez vous&nbsp;!</h2>
            
            <p>Les enregistrements pour 2016 sont clos. Toutes les
              sachets de graines sont partis ! Si vous voulez être tenu
              au courant des nouveaux projets, envoyez-nous un mail a
              contact@p2pfoodlab.net.</p>
	  </div>

        <!--
	<form name="registrationForm" id="registrationForm" class="mc-form clearfix" action="register" method="POST">

	  <div class="two-third">
            <label for="username">Pseudonyme</label>
            <input type="text" id="username" name="username" placeholder="Votre pseudonyme sera utilisé pour vous identifier à l'écran">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Pour envoyer votre mot-de-passe et les communications du projet. Ne sera pas divulgé.">
            <label for="firstname">Adresse de Livraison</label>
            <input type="text" id="firstname" name="firstname" placeholder="Prénom">
            <input type="text" id="lastname" name="lastname" placeholder="Nom">
            <input type="text" id="address1" name="address1" placeholder="Numéro et voie">
            <input type="text" id="address2" name="address2" placeholder="Complément d'adresse">
            <input type="text" id="zipcode" name="zipcode" placeholder="Code postal">
            <input type="text" id="town" name="town" placeholder="Ville">
            <input type="text" id="country" name="country" placeholder="Pays">

            <p style="padding-top: 40px; padding-bottom: 20px">Avez-vous un t&eacute;l&eacute;phone "Bluetooth Low Energy" ou "Bluetooth 4.0" compatible avec le Flower Power ? (<a href="https://p2pfoodlab.net/wiki/index.php/CitizenSeeds_'16#Flower_Power">plus d'info</a>)</p>

	    <input type="radio" id="flowerpoweryes" name="flowerpower" value="yes" style="width: unset; display: inline"> Yes<br>
	    <input type="radio" id="flowerpowerno" name="flowerpower" value="no" style="width: unset; display: inline" checked> Non

            <label for="captcha">Captcha</label>
	    <img src="CitizenSeeds/captcha.jpg" width="200px" id="captcha"/><br>
	    <a href="javascript:void(0)" class="Underline" style="font-size: small" onclick="document.getElementById('captcha').src='CitizenSeeds/captcha.jpg?date='+new Date().toString();">Montrer un autre captcha.</a>

            <input type="text" name="captcha" id="captcha" placeholder="Veuillez saisir le texte de l'image pour prouver que vous n'êtes pas un robot.">

	  </div>

	  <div class="submit-wrap">
	    <p><small>En m'enregistrant je declare que j'ai lu et que je comprend <a href="https://p2pfoodlab.net/wiki/index.php/CitizenSeeds_'16#Conditions_g.C3.A9n.C3.A9rales">l'esprit du projet et les conditions de participation</a>.</small></p><br><br>
	    <p><a class="mc-submit" href="javascript:void(0);" onclick="submitRegistration('citizenseeds2016')">Je participe&nbsp;!</a></p>
	  </div>

	</form>
        -->

      </div>
    </section> 

    <!-- Register End -->

    <!-- <script src="about_files/registration.js"></script> -->
    <!-- <script src="about_files/xregexp-min.js"></script> -->
    <script src="<%= config.baseUrl %>/jquery.js"></script>
    <script src="<%= config.baseUrl %>/bootstrap.js"></script>
    <script src="<%= config.baseUrl %>/es6-promise-2.0.1.min.js"></script>
    <script src="<%= config.baseUrl %>/unicode-base.js"></script>
    <script src="<%= config.baseUrl %>/smouthscroll.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="<%= config.baseUrl %>/ie10-viewport-bug-workaround.js"></script>

<!--    <script>setTimeout(loadGroupInfo, 1);</script> -->

<script>
var jq = $.noConflict();
jq("#navbar-about").addClass("active");
</script>

  </body>
</html>
