<!DOCTYPE html>
<html lang="en">

<% include head %>

  <body id="Body">

<% include navbar %>
    
    <div id="ActivityViewer" class="container-fluid forum-container"></div>

    <div id="ForumViewer" class="container-fluid forum-container"></div>

    <div id="ExperimentView"></div>

<% include scripts %>
    
<script>
var jq = $.noConflict();
jq(document).ready(function(){
    _server = new Server("<%= config.baseUrl %>");
    <% if (account && account.id) { %>
    _account = { "id": "<%= account.id %>" };
    <% } else { %>
    _account = {};
    <% } %>
    showObservations(<%= experiment.id %>, "<%= startAt %>");
    initForum(<%= experiment.id %>);
    showRecentActivity(<%= experiment.id %>);
})
jq("#navbar-experiments-<%= experiment.id %>").addClass("active");
</script>

  </body>
</html>
