<!DOCTYPE html>
<html lang="en">

<% include head %>

  <body>

<% include navbar %>

    <div class='container'>
      <div class="span12">
	<section id="header">
	  <div class="page-header">
	    <h1>Chez <%= account.id %></h1>
	  </div>
        </section>
      </div>

      <div class="span12">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
          <!-- li><a href="#flowerpower" data-toggle="tab">Flower Power</a></li -->
        </ul>
        
        <div class="tab-content">
          
          <div class="tab-pane active" id="profile">
	    <section id="nav">
              
              <% if (profile.blog || profile.vlog) { %>
              <div class="profile">
                <p>Mes aventures CitizenSeeds en ligne :</p>
                <% if (profile.blog) { %><p><a href="<%= profile.blog %>" class="btn btn-primary">Voir mon blog</a></p><% } %>
                <% if (profile.vlog) { %><p><a href="<%= profile.vlog %>" class="btn btn-primary">Voir mes videos</a></p><% } %>
              </div>
              <% } %>

              <div class="profile">
                <%- profile.description %>
              </div>
              <p><a href="<%= config.baseUrl %>/people/<%= account.id %>/profile.html" class="btn btn-default">Modifier mon profile</a></p>
	    </section>
          </div>
          
          <div class="tab-pane" id="flowerpower">
            <div id="location_xxx">Coming soon</div>
          </div>
        </div>	
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="<%= config.baseUrl %>/jquery.js"></script>
    <script src="<%= config.baseUrl %>/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="<%= config.baseUrl %>/ie10-viewport-bug-workaround.js"></script>
    
    <script>
    </script>
      
  </body>
</html>
