<!doctype html>
<html lang="en">
  <head>

    <!-- Basic Page Needs  –––––––––––––––– -->
    <meta charset="utf-8">
    <title>P2P Food Lab - CitizenSeeds</title>
    <meta name="description" content="P2P Food Lab's CitizenSeeds application for shared gardening">
    <meta name="author" content="Peter Hanappe & Nicolas Duval @ Sony CSL Paris">

    <!-- Mobile Specific Metas –––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -------------------–––––––––––– -->
    <link rel="stylesheet" href="<%= config.baseUrl %>/css/normalize.css">
    <link rel="stylesheet" href="<%= config.baseUrl %>/css/skeleton.css">
    <link rel="stylesheet" href="<%= config.baseUrl %>/css/citizenseeds/mobile.css">

  </head>
  <body id="Body">
    
    <header class="section">
      <div class="container">
        <a href="https://p2pfoodlab.net"><img class="SmallLogo u-max-full-width" src="<%= config.baseUrl %>/media/logo-small-blue.png"></img></a>
      </div>
      <div class="container ProjectTitle">
        <h1>CitizenSeeds</h1>
      </div>
    </header>
    
    <div class="container">
      <h3>Cliquez sur un nom de légume pour prendre une photo.</h3>
    </div>

    <section id="MobileApp" class="section"></section>

    <script src="<%= config.baseUrl %>/js/es6-promise-2.0.1.min.js"></script>
    <script src="<%= config.baseUrl %>/js/citizenseeds/app.js"></script>
    <script src="<%= config.baseUrl %>/js/citizenseeds/server.js"></script>
    <script>setTimeout(function() { startMobileApp("<%= config.baseUrl %>", <%= experiment.id %>); }, 1);</script>

  </body>
</html>
